.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;

  input[type="text"] {
    border: none;
    outline: none;
    background-color: white;
    padding: 0;
  }

  i {
    margin-right: 10px;
  }
}
